<wicket:panel>
<div class="form-group">
    <label wicket:for="id"><wicket:message key="id" /></label>
    <input wicket:id="id" type="text" class="form-control">
</div>
<div class="form-group">
    <label wicket:for="status"><wicket:message key="status" /></label>
    <input wicket:id="status" type="text" class="form-control">
</div>
<wicket:container wicket:id="client" />
<div class="form-group">
    <label wicket:for="departureAddress"><wicket:message key="departureAddress" /></label>
    <input wicket:id="departureAddress" type="text" class="form-control">
</div>
<div class="form-group">
    <label wicket:for="departureDate"><wicket:message key="departureDate" /></label>
    <input wicket:id="departureDate" type="text" class="form-control">
</div>
<div class="form-group">
    <label wicket:for="destinationAddress"><wicket:message key="destinationAddress" /></label>
    <input wicket:id="destinationAddress" type="text" class="form-control">
</div>
<div class="form-group">
	<label wicket:for="driver"><wicket:message key="driver" /></label>
	<select wicket:id="driver" class="form-control" />
</div>
</wicket:panel>