<wicket:panel>
<div class="form-group">
    <label wicket:for="phone"><wicket:message key="phone" /></label>
    <input wicket:id="phone" type="text" class="form-control">
</div>
<div class="form-group">
    <label wicket:for="firstname"><wicket:message key="firstname" /></label>
    <input wicket:id="firstname" type="text" class="form-control">
</div>
<div class="form-group">
    <label wicket:for="lastname"><wicket:message key="lastname" /></label>
    <input wicket:id="lastname" type="text" class="form-control">
</div>
</wicket:panel>