<wicket:panel>
	<div class="navbar-default sidebar" role="navigation">
	    <div class="sidebar-nav navbar-collapse">
	        <ul class="nav" id="side-menu">	            
				<li wicket:id="dashboard">
				    <a wicket:id="link" href="#"><wicket:message key="menu.dashboard" /></a>
				</li>	
				<li wicket:id="orders">
				    <a wicket:id="link" href="#"><wicket:message key="menu.orders" /></a>
				</li>     	            
				<li wicket:id="employees">
				    <a wicket:id="link" href="#"><wicket:message key="menu.employees" /></a>
				</li>
				<li wicket:id="offices">
				    <a wicket:id="link" href="#"><wicket:message key="menu.offices" /></a>
				</li>
				<li wicket:id="cars">
				    <a wicket:id="link" href="#"><wicket:message key="menu.cars" /></a>
				</li> 
				<li wicket:id="clients">
				    <a wicket:id="link" href="#"><wicket:message key="menu.clients" /></a>
				</li>                        
	        </ul>
	    </div>
	</div>
</wicket:panel>