<wicket:panel xmlns:wicket="http://wicket.apache.org">	
	<div class="col-sm-6">
		<div wicket:id="label" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
	</div>
	<div class="col-sm-6">
		<div class="dataTables_paginate paging_simple_numbers">
			<ul class="pagination">
				<li wicket:id="first" class="paginate_button first"><a href="#">First</a></li>
				<li wicket:id="prev" class="paginate_button previous"><a href="#">Previous</a></li>				
				<li wicket:id="navigation" class="paginate_button"><a wicket:id="pageLink" href="#"><span wicket:id="pageNumber" /></a></li>				
				<li wicket:id="next" class="paginate_button next"><a href="#">Next</a></li>
				<li wicket:id="last" class="paginate_button last"><a href="#">Last</a></li>
			</ul>
		</div>
	</div>
</wicket:panel>	